h1{
   background-color: chartreuse;
}

/* styling the header*/
header{
   background-color: darksalmon;
   padding: 12px;
   text-align: center;
   color: deeppink;
   font-size: 50px;
}

nav ul{
   list-style: none;
   padding: 10px;
   font-style: italic;

}