
.header-bg-img {
   background-image: url('../images/camo.jpg');
   padding-top: 10px;
   color: white;
   font-size: 40px;
   text-align: center;
}

.content{
   background-color: black;
   height: 750px;
   padding-top: 35px;
   color: white;
}

#warning{
   background-image: url('../images/warning.svg');


}



p {
   margin: 0px;
}

#search{
   padding-right: 15px;

}

.input{
   margin-top: 10px;
   float: right;
}


.intro{
   font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card {
   box-shadow: 0 4px 8px 0 rgb(248, 245, 245);
   transition: 0.3s;
   width: 40%;
 }

 .card:hover {
   box-shadow: 0 8px 16px 0 rgb(243, 241, 241);
 }

 .container {
   padding: 2px 16px;
 }

 .main-card-container {
    margin-top: 48px;
    margin-left: 100px;
 }